<div class="border border-1 my-5 p-5 text-center border-success">
  <h3>Our Purpose</h3>
  <p class="fs-6 text-font-family">Education Courier is dedicated to providing a platform where learners of all levels can contribute, 
      collaborate, and benefit from shared knowledge. We believe in the transformative power of education 
      and the positive impact it can have on individuals and society as a whole. By connecting learners 
      and fostering a vibrant community, we strive to make learning accessible, practical, and engaging.
  </p>
</div>