<div class="border border-1 my-5 p-5 text-center border-dark story-background" >
  <h3>Our Story</h3>
  <p class="fs-6 text-font-family"> Education Courier was born out of a simple idea - to make learning easier and more enjoyable.
      As avid learners ourselves, we understand the challenges of acquiring new skills and retaining 
      knowledge. We recognized the power of writing down what we learned, as it helps solidify concepts 
      and allows us to revisit them whenever needed. This led us to create a space where learners can 
      write blogs about their newly acquired tech skills and revisit them whenever they desire.
  <p>
</div>