<div id="<%= dom_id comment %>">
  <p>
    <strong>User:</strong>
    <%= comment.user.name %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= comment.content %>
  </p>
  <% if comment.children.present? %> 
    <%= render partial: 'comments/child_comment', collection: comment.children, as: :comment %>
  <% end %>

</div>
