<% if user_signed_in? %>
  <%= turbo_frame_tag comment_form_id(parent) do %>
    <div class="border border-dark p-5 rounded mt-2">
      <% unless parent.present? %> <h5>Any thing that can be improved?</h5> <% end %>
      <%= form_with url: blog_comments_path(@blog, parent_id: parent), method: :post, model: comment do |form| %>
        <div class="field">
          <%= form.text_area(:content, rows: '3', class: "form-control mb-3", required: true, placeholder: "Your feedback") %>
        </div>
        <div class="field">
          <%= form.submit class: "btn btn-dark" %>
        </div>
      <% end %>
    </div>
  <% end %>
<% else %>
  <div class="border border-dark p-5 rounded mt-2" id="new_comment_form">
    <h5>Any thing that can be improved?</h5>
    <form data-bs-toggle='modal' data-bs-target='#exampleModal'>
      <div class="field">
        <textarea rows='3' placeholder="Your feedback", class="form-control mb-3"></textarea>
        </div>
      <div class="field">
        <input type="submit" value="Submit" class="btn btn-dark" disabled="true">
      </div>
    </form>
  </div>
<% end %>
