<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="fw-bolder">Welcome to <span class="fontfamily-none">EDUCATION COURIER</span></h4>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body p-4">
      <div class='text-center mb-2 fw-semibold'>Become a part of our community</div>
      <div>
        Please
        <%= link_to "Sign up", new_user_registration_path, class: 'text-gold text-decoration-none'%>
        OR
        <%= link_to "Sign in to your existing account", new_user_session_path, class: 'text-gold text-decoration-none'%>
        to continue
      </div>
    </div>
    <div class="container">
      <div class="row text-secondary">
        <div class="col-md-5 p-0"><hr></div>
        <span class="col-md p-0 text-center align-self-center"> or</span>
        <div class="col-md-5 p-0 "> <hr></div>
      </div>
    </div>

    <%- User.omniauth_providers.each do |provider| %>
      <div class="m-3 mt-0">
        <%= button_to "#{image_tag('google_icon.svg')} Continue with Google".html_safe, omniauth_authorize_path(User, provider), data: { turbo: false },
            class: 'bg-white border rounded-2  text-center w-100 p-2 pointer-event google-login' %>
      </div>
    <% end %>
  </div>
</div>
