<div class="home-div">
  <h3 class="text-center">Welcome to Education Courier!</h3>

  <div>
    <p class="fw-bold h6">Mission Stagement:</p>
    <p>Our blog is dedicated to providing high-quality programming-related content to help developers
      of all skill levels improve their skills and stay up-to-date with the latest trends and best 
      practices in the industry.
    </p>
  </div>

  <div>
    <p class="fw-bold h6">Target Audience:</p>
    <p>
      Our blog is for programmers of all levels, from beginners to advanced. 
      We aim to provide valuable content that will help readers improve their 
      skills and stay up-to-date with the latest trends in the industry. 
      Whether you're just starting out or you're an experienced programmer, our blog has something for you.
    </p>
  </div>
  
  <div>
    <p class="fw-bold h6">Content Strategy:</p>
    <p>
      We cover a wide range of programming-related topics on our blog, including tutorials, 
      case studies, and opinion pieces. Our content is designed to be informative, engaging, 
      and actionable, so readers can take what they've learned and apply it to their own projects. 
      We also welcome guest posts from other programmers who want to share their knowledge and insights with our readers.
    </p>
  </div>

  <div>
    <p>
      Thank you for visiting our blog! If you like what you see, be sure to sign up for our newsletter to stay 
      up-to-date with our latest content. You can also follow us on social media to join the conversation 
      and connect with other programmers in our community.
    </p>
  </div>
</div>