<div class="bg-white shadow-sm p-5 rounded m-5">
  <h3 class="text-center text-primary">Let's Talk</h3>
  <div class="m-auto width-55vw">
    <p class="text-muted fs-6 text-font-family">Please take a few moments to share your thoughts, suggestions, or any issues you've encountered while using the website. We appreciate 
      your time and look forward to hearing from you. Thank you for being a part of our learning community!</p>
  </div>
  <%= render 'pages/about_page/guest_user_feedback_form' %>
</div>