<% if @featured_posts.present? %>
  <%= render partial: 'posts/featured_post',  collection: @featured_posts, as: :post %>
<% end %>

<div class="row">
  <% if @posts.present? %>
    <%= render partial: 'posts/post', collection: @posts, as: :post %>
  <% else %>
    <p>No post is available.</p>
  <% end %>
</div>
