<div class="home-div">
  <% if @featured_posts.present? %>
    <h4 class="mb-3"><i class="bi bi-graph-up-arrow"></i>  Featured posts</h4>
    <div class="row row-cols-md-3">
      <%= render partial: 'posts/featured_post',  collection: @featured_posts, as: :post %>
    </div>
  <% end %>

  <hr>

  <div class="row">
    <div class="col-lg-8">
      <%= turbo_frame_tag "posts-list" do %>
        <% if @posts.present? %>
          <%= render partial: 'posts/post', collection: @posts, as: :post %>
        <% else %>
          <p>No post is available.</p>
        <% end %>
      <% end %>
    </div>
    <div class="col-lg-4">
      <h6>Discover more content of your interest</h6>
      <div class="d-flex flex-wrap">
        <% @categories.each do |category| %>
          <%= link_to category.name, category, class: "text-center border rounded-pill p-2 m-2 light-gray text-decoration-none",
          data: { turbo_frame: "posts-list" } %>
        <% end %>
      </div>
    </div>
  </div>
</div>