<div >
  <div >
    <h5 ><%= post.title %></h5>
    <p ><%= post.content.html_safe %></p>
    <p ><%= post.summary %></p>
    <p ><small class="text-muted">Posted At: <%= date_format(post.created_at) %></small></p>
  </div>
</div>
