div.register {
  font-size: 0.880rem;
  font-weight: 500;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;

  form {
    width: 100%;
  }
}

.text-gold {
  color: #339e4a !important;
}

.text-gold:hover {
  color: #449b57a9 !important;
}

.max-form-width {
  max-width: 28rem;
}

.extended-form-width {
  max-width: 56rem;
}

.fs-xsmall {
  font-size: x-small;
}
