.toast-customization {
  z-index: 5;
  right: 0px;
  top: 10%;
  width: 35vw;
}
.alert > p {
  color: white;
}
.icon-medium {
  font-size: xx-large;
}
.alert-warning {
  background: var(--warning);
}
.alert-success {
  background: var(--success);
}
.alert-primary {
  background: var(--primary);
}
.alert-dark {
  background: var(--dark);
}
.alert-error {
  background: var(--error);
}
