.nav-avatar {
  max-width: 2.6rem;
  max-height: 2.6rem;
}

.navbar {
  a.nav-link.active {
    font-weight: 500;
    color: #339e4a !important;
  }

  a.nav-link:hover {
    font-weight: 500;
    color: #449b57a9 !important;
  }
}

footer {
  a {
    font-weight: 500;
    color: darkgray !important;
  }

  a:hover {
    color: black !important;
  }
}

.home-div {
  font-size: 0.880rem;
  padding-left: 7rem;
  padding-right: 7rem;

  .post-circle-img {
    max-width: 2rem;
    max-height: 2rem;
  }

  .short-summary {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .post-thumbnail {
    min-width: 10rem;
    height: 10rem;
  }
}