.nav-avatar {
  width: 2.6rem;
  height: 2.6rem;
}

.navbar {
  a.nav-link.active {
    border-bottom: 3px solid green;
  }

  a.nav-link:hover {
    color: #449b57a9 !important;
  }
}

footer {
  a {
    font-weight: 500;
    color: darkgray !important;
  }

  a:hover {
    color: black !important;
  }
}

.home-div {
  font-size: 0.880rem;
  padding: 4rem 8vw;

  .short-summary {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .blog-thumbnail {
    min-width: 10rem;
    height: 12rem;
    width: 100%;
  }
}

.blog-circle-img {
  max-width: 2rem;
  max-height: 2rem;
}

.light-gray {
  background-color: #efefef;
}

.light-gray:hover {
  background-color: #e6e5e5;
}

.py-20 {
  padding-left: 20rem;
  padding-right: 20rem;
}

.max-size-fill-available {
  max-width: -webkit-fill-available;
  max-height: -webkit-fill-available;
}

.category {
  background-color: white;
  img {
    width: 20rem;
    height: 16rem;
  }
}

.fontfamily-none {
  font-family: none;
}

/* Custom sizes */

.width-15vw {
  width: 15vw;
}

.size-15vw {
  width: 15vw;
  height: 15vw;
}

.fs-14px {
  font-size: 14px;
}

@media only screen and (max-width: 1150px) {
  .py-20 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .blog-cart {
    flex-direction: column-reverse;
    
    .blog-thumbnail {
      width: inherit;
      height: fit-content;
      margin-bottom: 0.5rem;
    }
  }

  .category {
    max-width: -webkit-fill-available;;
    img {
      max-width: -webkit-fill-available;
    }
  }
}
